@media screen and (max-width:1170px) {
    .nav_list {
        flex-direction: column;
        gap: 30px;
        left: -300;
        right: 1000;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 0;
        padding-top: 15px;
        width: 150px;
        height: 50vh;
        text-align: center;
        transition: 0.8s ease-in-out;
        margin-right: 0;
    }

    nav {
        border-bottom: none;
    }

    #check {
        display: none;
    }

    #check:checked~.nav_list {
        left: 0;
    }

    .logo {
        width: 100%;
        margin-top: 28px;
        font-size: 2.2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .icon_input_container {
        margin-right: auto;
    }

}